body {
  background-color: black;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.menu a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #777;
}

h1 {
  color: #fff;
}

h2 {
  margin-top: 30px;
}

.jogador {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.jogador img {
  width: 100%;
  height: auto;
}

#botao {
  background-color: transparent;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: transparent;
  margin-left: 50%;
  font-size: 16px;
  
}
button :hover {
color: blue
}
.jogador p {
  text-align: center;
  margin-top: 5px;
}

#detalhes_jogador {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

#detalhes_jogador img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 200px;
  height: auto;
  object-fit: cover;
}

#detalhes_jogador h3 {
  text-align: center;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
}

.valor {
  margin-left: 5px;
}
.jogador {
  width: calc(100% / 7);
  padding: 10px;
}

@media screen and (max-width: 1920px) {
  .jogador {
    width: calc(100% / 7);
  }
}

@media screen and (max-width: 1024px) {
  .jogador {
    width: calc(100% / 5);
  }
}

@media screen and (max-width: 768px) {
  #elenco_feminino,
  #elenco_masculino {
    justify-content: center;
  }

  .jogador {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 576px) {
  .jogador {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #elenco_feminino,
  #elenco_masculino {
    justify-content: center;
  }

  .jogador {
    width: calc(100% / 2);
  }
}
